<p style="color: green"><%= notice %></p>

<%= render @employee %>

<div>
  <%= link_to "Edit this employee", edit_employee_path(@employee) %> |
  <%= link_to "Back to employees", employees_path %>

  <%= button_to "Destroy this employee", @employee, method: :delete %>
  <%= button_to 'Maaş Bildirimi Gönder', send_salary_email_employee_path(@employee), method: :post, class: 'btn btn-primary' %>

</div>
