<div id="<%= dom_id income %>">
  <p>
    <strong>Customer:</strong>
    <%= income.customer_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= income.amount %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= income.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= income.description %>
  </p>

</div>
